{% extends 'base.html' %}

{% block title%}
Accueil
{% endblock%}




    
{% block content %}

<section class="digiterra-intro text-center text-white d-flex align-items-center">
  <div class="container">
    <h1 class="display-4 mb-3 fade-in">Bienvenue chez DIGITERRA</h1>
    <br>
    <p class="lead fade-in delay-1">
      <strong>La technologie au service de l'Afrique.</strong> DIGITERRA place l’innovation et la proximité au cœur de sa démarche pour vous proposer des solutions informatiques fiables, simples et adaptées.
    </p>
    <br>
    <h2 class="mt-5 mb-4">Notre Mission</h2>
    <p class="mission fade-in delay-2">
        <br>
       Nous accompagnons les entreprises et les particuliers dans leur transformation numérique, en faisant de leur système d’information un véritable levier de développement et de différenciation.
    </p>
    <p class="mission-strong fade-in delay-3">
      <strong>Nous nous occupons de votre informatique pour que vous puissiez vous concentrer sur votre métier.</strong>
    </p>
    <div class="mt-4 fade-in delay-4">
      <a href="#contact" class="btn btn-primary btn-lg mx-2">Contactez-nous</a>
    </div>
  </div>
</section>




<section class="py-5">
  <div class="container test">
    <div class="row g-4">

      <div class="col-md-4">
        <a href="{{ url_for('service') }}#prestation" class="service-card" style="background-image: url('./static/images/prestation_infoematique1.jpg');">
          <div class="overlay">
            <h5>Prestation informatique</h5>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="{{ url_for('service') }}#reseaux" class="service-card" style="background-image: url('./static/images/resau.jpg');">
          <div class="overlay">
            <h5>Reseau informatique & Telecom</h5>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="{{ url_for('vente') }}" class="service-card" style="background-image: url('./static/images/vente_materiel_informatique.jpg');">
          <div class="overlay">
            <h5>Vente de materiel informatique</h5>
          </div>
        </a>
      </div>


      <div class="col-md-4">
        <a href="{{ url_for('service') }}#securite" class="service-card" style="background-image: url('./static/images/securite_info.jpg');">
          <div class="overlay">
            <h5>Securite informatique</h5>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="{{ url_for('service') }}#maintenance" class="service-card" style="background-image: url('./static/images/maintenace_info.jpg');">
          <div class="overlay">
            <h5>Maintenance Informatique</h5>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="#" class="service-card" style="background-image: url('./static/images/vidoesurveillance.jpg');">
          <div class="overlay">
            <h5> Videosurveillance</h5>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>

    
    
    
    
{% endblock %}

