<div class= "container">
        <div class ="row">
            <div class="col-4">
                Logo
            </div>
            <div class="col-4 text-center my-auto">
                <i class="fa-regular fa-circle-play"></i>
                <b> En direct </b>
            </div>
            <div class="col-4 text-end">
                <i class="fas fa-bars fa-2x"></i>
            </div>
        </div>
        
    </div>
    <div class = "container-fluid site-nav-bar">
        <div class="container">
            <ul class ="nav">
            

                <li class= "nav-item my-auto">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-house-chimney"></i>
                    </a>
                </li>

                <li class= "nav-item">
                    <a class="nav-link nav-highlight" href="#"> #COVID-19</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link nav-highlight" href="#"># HAUT-KARABAH</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="#"> FRANCE</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="#"> AFRIQUE</a>
                </li>

                <li class= "nav-item">
                    <a class="nav-link" href="#"> Election AMERICAINES</a>
                </li>

                <li class= "nav-item">
                    <a class="nav-link" href="#"> REPORTAGE</a>

                </li>

                <li class= "nav-item">
                    <a class="nav-link" href="#"> STOP INFO</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="container-fluid site-Info">
        <div class=" container">
            Notification
        </div>       
    </div>

    <div class = "container-lg">
        <div class="row">
            <div class = "col-lg-8">
                <div class="row"> 
                    <div class=" col-12 mb-3">
                        <img class="w-100" src="./static/images/logo diterra.png" alt ="image defilant">
                        <p class="h2 mt-3"> Titre principale</p>
                    </div>

                    <div class =" col-sm-6 mb-3">
                        <img class="w-100" src="./static/images/taille.png" alt="article1">
                        <p  class= "h6 mt-2">Titre info 1</p>
                    </div>

                    <div class =" col-sm-6 mb-3">
                        <img class="w-100" src="./static/images/taille.png" alt="article1">
                        <p  class= "h6 mt-2">Titre info 2</p>
                    </div>

                    <div class =" col-sm-6 mb-3">
                        <img class="w-100" src="./static/images/taille.png" alt="article1">
                        <p  class= "h6 mt-2">Titre info 3</p>
                    </div>

                    <div class =" col-sm-6 mb-3">
                        <img class="w-100" src="./static/images/taille.png" alt="article1">
                        <p  class= "h6 mt-2">Titre info 4</p>
                    </div>

                </div>

            
            </div>

            <div class = "col-lg-4">
                <div class="row info-continu">
                    <div class="col-12 text-center mb-3">
                    <span class="info-continu-titre"> L'INFO EN CONTINU</span>
                    </div>


                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-3 text rigth">
                              <span class="info-heure">  MM </span>
                            </div>

                            <div class=" col-9 text left h6">
                                annonce 1
                            </div>

                        </div>
                        
                     </div>


                     <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-3 text rigth">
                              <span class="info-heure">  MM </span>
                            </div>

                            <div class=" col-9 text left h6">
                                annonce 1
                            </div>

                        </div>
                        
                     </div>



                     <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-3 text rigth">
                              <span class="info-heure">  MM </span>
                            </div>

                            <div class=" col-9 text left h6">
                                annonce 1
                            </div>

                        </div>
                        
                     </div>
                </div>


            </div>
        </div>
        

    </div>

    <div class = " container-lg">
        <div class="row">
            <div class ="col-sm-6 col-md-4 mb-3">
                <img class="w-100" src="./static/images/taille.png" alt="article1">
                <p  class= "h6 mt-2">Titre info 5</p>
            </div>


            <div class ="col-sm-6 col-md-4 mb-3">
                <img class="w-100" src="./static/images/taille.png" alt="article1">
                <p  class= "h6 mt-2">Titre info 6</p>
            </div>

            <div class ="col-sm-6 col-md-4 mb-3">
                <img class="w-100" src="./static/images/taille.png" alt="article1">
                <p  class= "h6 mt-2">Titre info 7</p>
            </div>
            <div class ="col-sm-6 col-md-4 mb-3">
                <img class="w-100" src="./static/images/taille.png" alt="article1">
                <p  class= "h6 mt-2">Titre info 8</p>
            </div>
            <div class ="col-sm-6 col-md-4 mb-3">
                <img class="w-100" src="./static/images/taille.png" alt="article1">
                <p  class= "h6 mt-2">Titre info 9</p>
            </div>
            <div class ="col-sm-6 col-md-4 mb-3">
                <img class="w-100" src="./static/images/taille.png" alt="article1">
                <p  class= "h6 mt-2">Titre info 10</p>
            </div>
            
        </div>

    

        Autres article

    </div>
    
    <div style="height:50%"></div>